body{
	width: 80%;
	margin: 60px auto;
}
form{
	float: left;
	margin-right: 10px;
}
input{
	font-family: Arial;
	font-size: 14px;
	line-height: 28px;
	border-radius: 5px;
	margin-right: 10px;
}

#button{
	text-align: center;
	padding: 2px 15px;
	color:#ffffff;
	font-weight: bold;
}
#button , .add{
	background-color: #3399FF;
	border: 1px solid #787878;
}
.add_input{
	margin-top: 10px;
}
.add{
	display: inline;
	border-radius: 5px;
	margin-right: 5px;
	padding: 2px 5px;
}
a{
	padding: 0 10px 0 5px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
p{
	background-color: #33CCFF;
	display: inline-block;
	padding: 2px 6px;
	border-radius: 5px;
	color: #ffffff;
	font-size: 14px;
	margin: 0;
}